.navbar{
    background-color: white !important;
    te
    .navbars{
      margin-left: 47%;
    }
}
.row{
    border-radius: 8px;
    .h5{
        margin-left: 35%;
        color:rgb(0, 174, 255) ;
       
    }
}

